<!-- <div class="container-fluid fondobanner">
    <img src="../../assets/img/Banner.jpg" alt="banner" class="img img-fluid ">
  </div> -->
  
    <nav id="menu" class="navbar bg-dark fixed-top navbar-expand-md mb-4 ">
      <a class="navbar-brand font-weight-bold" routerLink="/inicio">Parque GMP</a>
      <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <label for="checkbox">
          <input type="checkbox" id="checkbox" class="navbar-toggler-icon text-white ">
          <span class="flecha fa fa-arrow-down "></span>
        </label>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link font-weight-bold" routerLink="/inicio">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" routerLink="/atracciones">Atracciones</a>
          </li>
          <li class="nav-item">
            <a class="nav-link font-weight-bold" routerLink="/servicios">Servicios</a>
          </li>
        </ul>
      </div>
    </nav>



    