<div class="container-fluid">
    <img src="https://raw.githubusercontent.com/OctavioBoll/PaginaGMP/gh-pages/assets/img/img3.jpg" alt="" class="img-fluid w-100 h-50">

</div>
<div class="container float-center col-1 py-5">
    <h1 class="inicio">Inicio</h1>
</div>
<div class="jumbotron ">
    <div class="row">
        <div class="col-lg-1">
            <span></span>
        </div>
        <div class="col-sm-12 col-lg-3">
            <img src="assets/img/img1.jpg" class=" w-100 h-100 imagen-jumbo img-fluid rounded img " alt="...">
        </div>
        <div class="col-sm-12 col-lg-6 texto-jumbo">
            <h1 class="display-5 center">Descripcion de la Organizacion</h1>
            <p>El parque cuenta con más de 60 empleados fundado en la ciudad de Córdoba en 1993 y con más de 30 años de
                brindar alegría. Cuenta con 8 juegos con capacidad total para hasta 156 personas en simultáneo haciendo
                uso
                de los juegos y 350 en el predio. Los juegos son: combate láser, montaña rusa “El dólar”, la calesita,
                el
                tren fantasma, los autitos chocadores, las tacitas giratorias, el telecombate y el barco vikingo. Para
                los
                eventos el parque brinda servicio de catering, coordinación, acceso a los juegos y a uno de sus 5
                salones de
                los cuales 4 tienen capacidad para 25 niños/ 18 adultos y el restante para 35 niños y 20 adultos.
            </p>

            <hr class="my-2">
        </div>
        <div class="col-lg-1">
            <span></span>
        </div>
    </div>
</div>

<div class="jumbotron ">
    <div class="row">
        <div class="col-lg-1">
            <span></span>
        </div>
        
        <div class="col-sm-12 col-lg-6 texto-jumbo">
            <h1 class="display-5 center">Que Producto Ofrecemos?</h1>
            <p>El parque cuenta con un conjunto de actividades que pueden ser utilizadas por el público general mediante la
                adquisición de tickets cuando el parque está abierto a todos, alternativamente estos juegos pueden ser
                contratados para eventos (día de la familia, día del niño, día del jardín, etc.) y cumpleaños.
            </p>
            <hr class="my-2">
            <h1 class="display-5 center">Para quien Trabajamos?</h1>
        <p>Habitantes del área cercana al parque y turistas que busquen actividades recreativas y de entretenimiento
            para pasar su tiempo libre, generalmente en grupos aunque también pueden ser individuos, de todas las
            edades: niños, adolescentes y adultos.</p>
        <hr class="my-2">
        </div>
        <div class="col-sm-12 col-lg-3">
            <img src="assets/img/img2.jpg" class=" w-100 h-100 imagen-jumbo img-fluid rounded img " alt="...">
        </div>
        <div class="col-lg-1">
            <span></span>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 titulo-estrategia">
        <h1 class="center">Descripcion Estrategica</h1>
    </div>
</div>

<div class="row ">
    <div class="container item-estrategia col-lg-3 col-sm-12 px-4">
        <img class="img-fluid center img-estrategia" src="../../../assets/img/Misiones.png" alt="">
        <h3>Mision</h3>
        <p>Somos Gente que encanta Gente a través de múltiples servicios de entretenimiento familiar. Buscamos
            satisfacer las exigencias de nuestros clientes, colaboradores, proveedores, accionistas y comunidad en
            general mediante un entorno divertido, sustentable, saludable, seguro y libre de riesgos; un modelo de
            gestión basado en la excelencia y diferenciación de los servicios; procesos de mejora continua y gestión
            eficiente de los recursos disponibles; desarrollo y crecimiento del talento humano; y solidez patrimonial y
            financiera para hacer posible la permanencia y desarrollo de nuestra Marca.
        </p>
    </div>
    <div class="container item-estrategia col-lg-3 col-sm-12 px-4">
        <img class="img-fluid img-estrategia" src="../../../assets/img/vision.png" alt="">
        <h3>Vision</h3>
        <p>
            Crecer siendo reconocidos como una empresa de entretenimiento familiar, contagiando la mejor experiencia a
            nuestros visitantes mediante un modelo de gestión de excelencia e innovación en productos, servicios y
            tecnología, siempre respetando nuestro compromiso con la sociedad y garantizando el retorno esperado por los
            accionistas.
        </p>
    </div>
    <div class="container item-estrategia col-lg-3 col-sm-12 px-4">
        <img  class="img-fluid img-estrategia" src="../../../assets/img/valores.png" alt="">
        <h3>Valores</h3>
        <p>Pasión por los detalles.</p>
        <p>Compromiso.</p>
        <p>Camaradería.</p>
    </div>
</div>
<div class="estrategia">
    <span><br><br><br></span>
</div>
